@import "tailwindcss";

.container {
    max-width: 375px;
    padding: 8px 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
   
  .title{
    margin: 0;
    font-size: larger;
    color:blueviolet
  }

  .width-200{
    width: 200px;
  }
  
  @media (min-width: 768px) {
    /* md: Планшети */
    .container {
      max-width: 768px;
      padding: 10px 8px;
    }
  }
  
  @media (min-width: 1280px) {
    /* xl: Великі десктопи */
    .container {
      max-width: 1280px;
      padding: 16px 55px;
    }
  }